.js-new-products-slider

    .js-new-products-slider__title 
        .js-new-products-slider__title__slider-name New Products
        a.js-new-products-slider__title__catalog-link(href="#") See All New Products
    
    //- If we need navigation buttons

    .js-new-products-slider__buttons__button-prev.swiper-buttons__button-prev
        i.js-new-products-slider__buttons__button-prev__arrow-left.arrow.swiper-buttons__button-prev__arrow-left
        
    .js-new-products-slider__buttons__button-next.swiper-buttons__button-next
        i.js-new-products-slider__buttons__button-next__arrow-right.arrow.swiper-buttons__button-next__arrow-right

    //- Slider main container
    .swiper-container.js-new-products-slider__container
                
        //- Additional required wrapper
        .swiper-wrapper.js-new-products-slider__wrapper
            //- Slides
            //- start slide
            .swiper-slide.js-new-products-slider__slide
                .js-new-products-slider__slide__product-card
                    .product-card 
                        .product-card__wrapper
                            .product-card__items 
                                .product-card__items__presence-indicator
                                    .product-card__items__presence-indicator__in-stock
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#78A962")
                                            path(d="M7.5 4L4.98404 7L3.5 5.27853" stroke="white" stroke-linecap="round")
                                        div in stock
                                    .product-card__items__presence-indicator__check-availability.presence-indicator--display-none
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#C94D3F")
                                            path(d=phone fill="white")
                                        div check availability

                                a.product-card__items__product-image(href="#")
                                    img(src="../images/product-img1.png", alt="product")

                                .product-card__items__reviews
                                    .product-card__items__reviews__stars 
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#CACDD8")
                                    .product-card__items__reviews__counter-reviews Reviews (4)

                                a.product-card__items__product-name(href="#") EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On 

                                .product-card__items__product-prise 
                                    .product-card__items__product-prise__old $499
                                    .product-card__items__product-prise__new $499
                                //- end slide

            //- start slide
            .swiper-slide.js-new-products-slider__slide
                .js-new-products-slider__slide__product-card
                    .product-card 
                        .product-card__wrapper
                            .product-card__items 
                                .product-card__items__presence-indicator
                                    .product-card__items__presence-indicator__in-stock.presence-indicator--display-none
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#78A962")
                                            path(d="M7.5 4L4.98404 7L3.5 5.27853" stroke="white" stroke-linecap="round")
                                        div in stock
                                    .product-card__items__presence-indicator__check-availability
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#C94D3F")
                                            path(d=phone fill="white")
                                        div check availability

                                a.product-card__items__product-image(href="#")
                                    img(src="../images/product-img2.png", alt="product")

                                .product-card__items__reviews
                                    .product-card__items__reviews__stars 
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#CACDD8")
                                    .product-card__items__reviews__counter-reviews Reviews (4)

                                a.product-card__items__product-name(href="#") EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On 

                                .product-card__items__product-prise 
                                    .product-card__items__product-prise__old $499
                                    .product-card__items__product-prise__new $499
                                //- end slide

            //- start slide
            .swiper-slide.js-new-products-slider__slide
                .js-new-products-slider__slide__product-card
                    .product-card 
                        .product-card__wrapper
                            .product-card__items 
                                .product-card__items__presence-indicator
                                    .product-card__items__presence-indicator__in-stock
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#78A962")
                                            path(d="M7.5 4L4.98404 7L3.5 5.27853" stroke="white" stroke-linecap="round")
                                        div in stock
                                    .product-card__items__presence-indicator__check-availability.presence-indicator--display-none
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#C94D3F")
                                            path(d=phone fill="white")
                                        div check availability

                                a.product-card__items__product-image(href="#")
                                    img(src="../images/product-img3.png", alt="product")

                                .product-card__items__reviews
                                    .product-card__items__reviews__stars 
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#CACDD8")
                                    .product-card__items__reviews__counter-reviews Reviews (4)

                                a.product-card__items__product-name(href="#") EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On 

                                .product-card__items__product-prise 
                                    .product-card__items__product-prise__old $499
                                    .product-card__items__product-prise__new $499
                                //- end slide

            //- start slide                                    
            .swiper-slide.js-new-products-slider__slide
                .js-new-products-slider__slide__product-card
                    .product-card 
                        .product-card__wrapper
                            .product-card__items 
                                .product-card__items__presence-indicator
                                    .product-card__items__presence-indicator__in-stock
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#78A962")
                                            path(d="M7.5 4L4.98404 7L3.5 5.27853" stroke="white" stroke-linecap="round")
                                        div in stock
                                    .product-card__items__presence-indicator__check-availability.presence-indicator--display-none
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#C94D3F")
                                            path(d=phone fill="white")
                                        div check availability

                                a.product-card__items__product-image(href="#")
                                    img(src="../images/product-img4.png", alt="product")

                                .product-card__items__reviews
                                    .product-card__items__reviews__stars 
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#CACDD8")
                                    .product-card__items__reviews__counter-reviews Reviews (4)

                                a.product-card__items__product-name(href="#") EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On 

                                .product-card__items__product-prise 
                                    .product-card__items__product-prise__old $499
                                    .product-card__items__product-prise__new $499
                                //- end slide

            //- start slide
            .swiper-slide.js-new-products-slider__slide
                .js-new-products-slider__slide__product-card
                    .product-card 
                        .product-card__wrapper
                            .product-card__items 
                                .product-card__items__presence-indicator
                                    .product-card__items__presence-indicator__in-stock
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#78A962")
                                            path(d="M7.5 4L4.98404 7L3.5 5.27853" stroke="white" stroke-linecap="round")
                                        div in stock
                                    .product-card__items__presence-indicator__check-availability.presence-indicator--display-none
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#C94D3F")
                                            path(d=phone fill="white")
                                        div check availability

                                a.product-card__items__product-image(href="#")
                                    img(src="../images/product-img3.png", alt="product")

                                .product-card__items__reviews
                                    .product-card__items__reviews__stars 
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#CACDD8")
                                    .product-card__items__reviews__counter-reviews Reviews (4)

                                a.product-card__items__product-name(href="#") EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On 

                                .product-card__items__product-prise 
                                    .product-card__items__product-prise__old $499
                                    .product-card__items__product-prise__new $499
                                //- end slide

            //- start slide
            .swiper-slide.js-new-products-slider__slide
                .js-new-products-slider__slide__product-card
                    .product-card 
                        .product-card__wrapper
                            .product-card__items 
                                .product-card__items__presence-indicator
                                    .product-card__items__presence-indicator__in-stock
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#78A962")
                                            path(d="M7.5 4L4.98404 7L3.5 5.27853" stroke="white" stroke-linecap="round")
                                        div in stock
                                    .product-card__items__presence-indicator__check-availability.presence-indicator--display-none
                                        svg(width="11" height="10" viewBox="0 0 11 10" fill="none")
                                            circle(cx="5.5" cy="5" r="5" fill="#C94D3F")
                                            path(d=phone fill="white")
                                        div check availability

                                a.product-card__items__product-image(href="#")
                                    img(src="../images/product-img3.png", alt="product")

                                .product-card__items__reviews
                                    .product-card__items__reviews__stars 
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#E9A426")
                                        svg(width="13" height="13")
                                            path(d=star fill="#CACDD8")
                                    .product-card__items__reviews__counter-reviews Reviews (4)

                                a.product-card__items__product-name(href="#") EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On 

                                .product-card__items__product-prise 
                                    .product-card__items__product-prise__old $499
                                    .product-card__items__product-prise__new $499
                                //- end slide

